.card{
    text-align: center;
    font-family: sans-serif;
}
.avatar{
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
}
.name{
    font-size: 22px;
    margin: 6px 0;
    font-weight: bold;
}
.online{
    color: green;
    font-weight: bold;
    font-size: 16px;
}
.offline{
    color: red;
    font-weight: bold;
    font-size: 16px;
}
